<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableBar6.27.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C33DCC981D20C8890033A736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C33DCCB11D20C88A0033A736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C33DCCBC1D20C88A0033A736</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
